@import '../../../styles/vars';

header {
  width: 100%;
  padding: 1rem 2rem;
  
  h1 {
    font-weight: 400;
    text-transform: uppercase;
  }

  color: $primaryColor;
  background-color: $white;
  border-bottom: 3px solid $white-1;

  @media only screen and (max-width: 780px) {
    h1 {
      font-size: 24px;
    }
  }
}