@import '../../../styles/vars';

.task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  cursor: grab;
  border-bottom: 1px solid $white-1;
  
  h3 {
    font-size: 16px;
    margin-bottom: .4rem;
  }

  p {
    font-size: 14px;
  }

  &:hover {
    .delete-task {
      display: block;
    }
  }

  .delete-task {
    padding: .5rem;
    display: none;
    cursor: pointer;
    background-color: transparent;
    
    svg {
      fill: $primaryColorDarker;
    }
  }
}