@import './vars';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html, 
body {
  font-family: 'Inter', sans-serif;
  background-color: $white-1;
  
  color: $dark;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: none;
  border: none;
  cursor: pointer;
}

.link-button {
  padding: 1rem 2.5rem;
  font-size: 18px;
  border-radius: 4px;
  display: inline-block;
  
  background-color: $dark;
  color: $white;
  text-transform: uppercase;
  transition-duration: 200ms;

  &:hover {
    font-weight: bold;
    background-color: $primaryColorDarker;
    text-decoration: underline;
  }
}

.action-button {
  padding: .5rem;
  text-transform: uppercase;

  color: white;
  background-color: $gray;

  transition-duration: 200ms;
  &:hover {
    font-weight: bold;
    background-color: $primaryColorDarker;
  }
}

.error-message {
  font-size: 12px;
  color: $gray;
  font-weight: bold;
}