$primaryColor: #1082e6;
$primaryColorLight: #40a6ff;
$primaryColorDarker: #184d7a;

$secondaryColor: #4d61fc;

$white: #f7f7f7;
$white-1: #e9edf0;
$whiteBackground: #fff;

$dark: #171717;
$gray: #60717d;

$yellow: #e8bd13;
$green: #2dcf0c;

